*{
    box-sizing: border-box;
}
body{
    height: 100px;
}
.container{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.box{
    width: 14%;
    height: 200px;
    background-color:#fff;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;

}
    